* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main-container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 110rem;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: "Helvetica", "sans-serif";
}

.sliderContainer {
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
  height: 14rem;
}
.sliderContainer h2 {
  text-align: left;
}
.sliderContainer h3 {
  color: rgb(54, 54, 54);
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
}
.sliderContainer img {
  width: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.sliderContainer a {
  text-decoration: none;
  color: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 0.5rem;
  z-index: 100;
}
.swiper-button button {
  border: transparent;
  font-size: xx-large;
  color: gray;
}
.swiper-button button:hover {
  color: rgb(117, 114, 114);
}

.header-img {
  width: 100%;
  max-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  gap: 0.1rem;
  border-radius: 1rem;
  overflow: hidden;
}
.header-img img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.header-ratings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.header-ratings .rating-star {
  color: #f5f5f5;
  background: green;
  padding: 0.2rem;
  font-weight: bold;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20%;
}
.header-ratings .rating-star .star-icon {
  font-size: small;
  vertical-align: initial;
}
.header-ratings .rating-text {
  border-bottom: 1px dotted rgb(181, 181, 181);
  color: rgb(54, 54, 54);
  font-size: x-small;
  font-weight: lighter;
}

.restaurantData-btn {
  font-size: 1.6rem;
  position: relative;
  justify-content: start;
  overflow-x: auto;
  border-bottom: 2px solid #7a7979;
}
.restaurantData-btn a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.restaurantData-btn .btn {
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border: #f5f5f5;
  padding: 1rem;
  position: relative;
}
.restaurantData-btn .active-btn a {
  color: rgb(239, 79, 95);
}
.restaurantData-btn .active-btn-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgb(239, 79, 95);
}
.restaurantData-btn .inActive-Btn-Bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgb(239, 79, 95);
}

.offers-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  margin: 1rem 0;
}
.offers-card .offers-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.offers-card .offers-text .offers-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.offers-card .offers-text .offers-desc {
  font-size: 1rem;
  font-weight: lighter;
}

.restoLocation-card {
  width: 35rem;
  background: gray;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 1200px) {
  #navbarSupportedContent {
    max-width: -moz-fit-content !important;
    max-width: fit-content !important;
  }
  .sliderContainer img {
    width: 5rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1800px) {
  #navbarSupportedContent {
    max-width: -moz-fit-content !important;
    max-width: fit-content !important;
  }
}/*# sourceMappingURL=App.css.map */